.header {
    height: 90px;
    background-color: aqua;
}
.headerNavbar {
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-image: #ccc;
}
.detailNavbar {
    display: flex;
    align-items: center;
    margin-left: 190px;
}
.navbarItem {
    display: inline-block;
}
.navbarList {
    margin-bottom: 0;
}
.navbarItem {

}
.authorNavbar {
    
}